.users {
  width: fit-content;
  margin: 0 auto;
}
.users-table {
  height: 32rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(69, 134, 247);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22a3ff;
}
a {
  text-decoration: none;
}
table a {
  text-decoration: none;
  margin-right: 10px;
  border-right: 3px solid;
  padding: 0 5px;
}
table a:hover {
  background-color: #f4f4f4;
}
th,
td {
  padding: 1rem;
}

button {
  padding: 10px 15px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  background-color: #d6d5d5;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #000;
  color: #ffffffb9;
}
input {
  padding: 15px;
  border: none;
  border-bottom: 2px solid #a6a6a653;
  border-left: 2px solid #a6a6a653;
  margin: 0 10px;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #0000007a;
  border-left: 2px solid #0000007a;
}
